.suggestions {
  margin-top: 30px;
  margin-right: 20px;
}

.suggestions__title {
  color: grey;
  font-weight: bold;
}

.suggestions__username {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.follow__button {
  color: #0095f6;
  font-weight: bold;
  background: 0;
  border: 0;
  margin-right: 5px;
}


.card{
  max-height: 500px !important;
  margin: 7px 0;
}

.card-btn{
  color: #005b98;
  text-decoration: none;
  font-weight: 600;
}